body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.map-overlay, .description-overlay, .description-overlay2, .description-overlay3 {
    position: absolute;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    pointer-events: none;
}

.map-overlay {
    top: 20px;
    left: 20px;
    right: 20px;
    letter-spacing: 2px;
}

.map-overlay h2 {
    font-size: 32px;
    margin: 0 0 10px;
}

.map-overlay p {
    font-size: 23px;
    margin: 0 0 10px;
}

.description-overlay {
    top: 125px;
    left: 20px;
    right: 20px;
}

.description-overlay2 {
    top: 205px;
    left: 20px;
    right: 20px;
}

.description-overlay3 {
    top: 265px;
    left: 20px;
    right: 20px;
}

.legend, #bubble-legend, #second-legend {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    z-index: 1;
}

#menu {
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 17px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 16px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: rgba(248, 248, 248, 0.4);
    color: #404040;
}

#menu a.active {
    background-color: rgba(56, 135, 190, 0.4);
    color: #ffffff;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span, .legend-bar {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

